// Main Style file for Deo's Space Program.

/*
	Structure: 

	.DSP_BG {
		#DSP_header {Shared Style Only}
		#DSP_Main {Page Specific Definitions}
	}
*/

// Variables

$dsp-background-color: hsla(190, 70%, 60%, 0.97);

// #DSP_header Definitions

#DSP_header {
	text-align: center;
	h1:nth-of-type(1) {
		color: hsla(192, 100%, 31%, 1);
		text-shadow: 2px 2px  hsla(189, 93%, 84%, 0.6);
		text-shadow: 5px 5px  hsla(189, 93%, 5%, 0.7);
		background: hsla(189, 100%, 0%, 0.6);
		text-transform: uppercase;
	}
	h2:nth-of-type(1) {
		color: hsla(189, 93%, 84%, 1);
		background: hsla(189, 100%, 0%, 0.6);
	}
	nav ul {
		width: auto;
		li {
			display: inline-block;
			margin: 5px;
			padding: 4px;
			a {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
				background-color: hsla(189, 27%, 0%, 1);
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-align: center;
				color: hsla(123, 44%, 46%, 0.93);
				text-shadow: 2px 2px  hsla(189, 93%, 5%, 1);
				border: 4px solid hsla(123, 44%, 21%, 0.93);
				letter-spacing: 1px;
				margin: inherit;
				padding: inherit;
				display: block;
				list-style-type: none;
				text-decoration: none;
				font-size: 125%;
			}
			a:hover {
				border: 4px solid hsla(109, 44%, 73%, 0.95);
				text-decoration: none;
				cursor: pointer;
				-ms-transform: rotatex(360deg);
				-webkit-transform: rotatex(360deg);
				transform: rotatex(360deg);
			}
			a:visited {
				color: hsla(109, 44%, 73%, 0.95);
				margin: inherit;
				padding: inherit;
				text-decoration: none;
			}
			a:active, #active {
				border: 4px solid hsla(109, 44%, 41%, 0.95);
				text-decoration: none;
			}
		}
	}
}


// #DSP_main Definitions

#DSP_main {
    padding-bottom: 25px;
    background: $dsp-background-color;
    background-clip: content-box;
	bottom:50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 125%;
	section {
   		padding: 25px;
	}
	ul {
		display: block;
		list-style-type: none;
	}
	.link_info {
		text-align: center;
	}
	a {
		color: hsla(33, 100%, 24%, 1);
	}
}

// Background Definitions


.DSP_BG {
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

#DSP_BG_index {
    background-image: url("http://i.imgur.com/wcfk337.png");
}

#DSP_BG_history {
    background-image: url("http://i.imgur.com/oOXT5Sy.png");
}

#DSP_BG_kerbals {
    background-image: url("http://i.imgur.com/zBPR2bp.png");
}

#DSP_BG_missions {
    background-image: url("http://i.imgur.com/jvU1ztS.png");
}

#DSP_BG_achievements {
	background-image: url("http://i.imgur.com/6pSy1Kz.png");
}

#DSP_BG_future {
    background-image: url("http://i.imgur.com/lxm4EeI.png");
}

#DSP_BG_copyright {
    background-image: url("http://i.imgur.com/aX47gqR.png");
}

// Sidebar definitions

.nav_sidebar{
    padding-bottom: 25px;
	li {
		background: $dsp-background-color;
		border-style: solid;
   		border-width: 1px;
		border-color: darken($dsp-background-color,35%);
		a {
			color: hsla(178, 100%, 0%, 1);
		}
	}
}
#nav_link_active{
	background: lighten($dsp-background-color,40%);
	border-color: darken($dsp-background-color,70%);
}

// Specific Page Definitons
.liftoff_table{
	caption {
		text-align: center;
		margin: 1px;
		background-color: hsla(33, 70%, 61%, 1);
		color: #000;
		border-style: solid;
		border-width: 2px 2px 0px 2px;
	}
	margin-left: auto;
	margin-right: auto;   
	tr {
		th {
			height: 50px;
			text-align: center;
			border-style: solid;
			border-width: 2px;
		}
		td {
			text-align: center;
			color: #000;
			border-style: solid;
			border-width: 1px;
			height: 50px;
			width: auto;
		}
	}
	margin-bottom: 20px;
	margin-top: 10px;
}
.copyright_table {
	caption {
		text-align: center;
		margin: 5px;
	}
	#table_header {
		th {
			text-align: center;
		}
	}
	margin-left: auto;
	margin-right: auto;   
	tr {
		td {
			height: 250px;
			width: 250px;
		}
	}
}
.dsp_select_label{
	float:left;
	margin-right:5px;
}
.dsp_select{
	width:100px;
	float:left;
}
.dsp_back_top{
	text-align: center;
	label{
		a{
			border-style: solid;
			border-width: 1px;
			padding: 3px;
			background: lighten($dsp-background-color, 20%);
		}
	}
}
