// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Orbitron:500);

// Bootstrap
$navbar-default-color: hsla(242, 100%, 7%, 1);
$navbar-default-bg: hsla(183, 100%, 67%, 0.81);
$navbar-default-border: hsla(202, 58%, 14%, 0.8);
$navbar-default-link-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-link-hover-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 20%);
$navbar-default-link-active-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-link-active-bg: darken($navbar-default-bg, 40%);
$navbar-default-link-disabled-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-link-disabled-bg: hsla(202, 58%, 14%, 0.9);
$navbar-default-brand-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-brand-hover-color: hsla(202, 58%, 14%, 0.9);
$navbar-default-brand-hover-bg: darken($navbar-default-bg, 20%);
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 40%);
$navbar-default-toggle-icon-bar-bg: hsla(202, 58%, 14%, 0.9);
$navbar-default-toggle-border-color: hsla(202, 58%, 14%, 0.9);
$navbar-margin-bottom: -20px;

// Font Variables
$poiret-one: 'Poiret One', cursive; 
$orbitron: 'Orbitron', sans-serif;

// Site Wide variables

$header-font-color: hsla(229, 51%, 14%, 1);
$footer-font-color: hsla(239, 51%, 11%, 1);
$header-bg-color: hsla(186, 100%, 50%, 0.7);
$default-border-color: hsla(186, 100%, 50%, 1);

// Header Navbar customization

html {
	position: relative;
	min-height: 100%;
	min-width: 250px;
}

h1 {
	font-family: $orbitron;
}
h2 {
	font-family: $poiret-one;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: $navbar-default-bg;
	color: $navbar-default-color;
	font-family: 'Questrial', sans-serif;
}


