// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Orbitron:500);

// Font Variables
$poiret-one: 'Poiret One', cursive; 
$orbitron: 'Orbitron', sans-serif;

// Site Wide variables

$header-font-color: hsla(229, 51%, 14%, 1);
$footer-font-color: hsla(239, 51%, 11%, 1);
$header-bg-color: hsla(186, 100%, 50%, 0.7);
$default-border-color: hsla(186, 100%, 50%, 1);

// Header Navbar customization

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}

h1 {
	font-family: $orbitron;
}
h2 {
	font-family: $poiret-one;
}
// Header Navbar customization
#navbar {
	// Solves the whitespace navbar issue.
    margin-bottom: -20px;
	// Change colors around to match the site theme.
	background-color: $header-bg-color;
	border-color: $default-border-color;
	.nav > li > a { 
		color: $footer-font-color; 
	}
	#navbar_brand { 
		color: darken($footer-font-color,15%); 
	}
	.nav > li > a:focus, 
	.nav > li > a:hover { 
		background-color: darken($header-bg-color, 20%);
		color: lighten($header-font-color, 20%);
	}
}


footer {
	border-color: $default-border-color;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: hsla(186, 100%, 50%, 0.31);
	padding: 0.2em 0;
	font-family: 'Questrial', sans-serif;
	nav {
		float: left;
	}
	ul {
		display: block;
		list-style-type: none;
		padding: 0;
	}
	li {
	display: inline-block;
		a {
			color: $footer-font-color;
			display: inline-block;
			font-size: 14px;
			letter-spacing: 1px;
			padding: 10px;
			text-decoration: none;
			&:hover {
				color: #888;
			}
		}
	}
	label {
		color: $footer-font-color;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		float: right;
	}
}


