// Main Style file for SASS Tutorial Styles

/*
	Structure: 

	.STS_BG {
		#STS_header {Shared Style Only}
		#STS_Main {Page Specific Definitions}
	}
*/

// #STS_header Definitions

#STS_header {
	text-align: center;
	h1:nth-of-type(1) {
		color: hsla(272, 100%, 80%, 1);
		text-shadow: 2px 2px  hsla(272, 54%, 14%, 0.6);
		background: hsla(189, 100%, 0%, 0.6);
	}
	nav {
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			li {
				line-height: 50px;
				text-align: center;
				display: inline-block;
				margin-left: 6px;
				margin-right: 6px;
				a, label {
					padding: 5px;
					width:100%;
					line-height: 50px;
					text-align: center;
					border: 1.5px solid darken($header-background-color,20%);
					color: darken($header-font-color, 75%);
					letter-spacing: 1px;
					text-decoration: none;
					text-transform: uppercase;
					margin: 5px;
					&:hover {
						border: 2.5px solid darken($header-background-color,20%);
						border-bottom: 2px solid $header-font-color;
						color: darken($header-font-color, 25%);
					}
				}
			}
		}
	}
}

// #STS_main Definitions

//// Check each page #STS_main under sts_shared/pages



