// Main Style file for Ember CLI Tutorial

/*
	Structure: 

	.ECT_BG {
		#ECT_header {Shared Style Only}
		#ECT_Main {Page Specific Definitions}
	}
*/

// #ECT_header Definitions

#ECT_header {
	text-align: center;
	h1:nth-of-type(1) {
		color: hsla(31, 100%, 62%, 1);
		text-shadow: 2px 2px  hsla(272, 54%, 14%, 0.6);
		background: hsla(189, 100%, 0%, 0.6);
	}
	h2:nth-of-type(1) {
		color: hsla(31, 100%, 62%, 1);
		text-shadow: 2px 2px  hsla(189, 40%, 50%, 1);
		background: hsla(189, 100%, 0%, 0.6);
		letter-spacing: 1px;
	}
}

// #ECT_main Definitions

#ECT_main {
    padding: 25px;
    background-clip: content-box;
	bottom:50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 125%;
	section {
   		padding: 25px;
	}
	ul {
		display: block;
		list-style-type: none;
	}
	table {
		margin-left: auto;
		margin-right: auto;       
		tr {
			height: 250px;
			width: 250px;
			td {
				height: 250px;
				width: 250px;
			}
		}
	}
	.link_info {
		text-align: center;
	}
}

// Background Definitions


.ECT_BG {
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

#ECT_BG_index {
	// No Background Image
}




// Specific Page Definitons

