<div class="STS_BG">
	<div id="STS_header">
		<h1>Installing SASS</h1>
		<section>
		<h2>PLease select your installation method</h2>
		<nav>
			<ul>
				<li>
					{{#link-to 'sassTutorial.installation.windowsDesktop'}}Windows Desktop{{/link-to}}
				</li>
				<li>
					{{#link-to 'sassTutorial.installation.embercli'}}Ember Cli{{/link-to}}
				</li>
				<li>
					{{#link-to 'sassTutorial.installation.rails'}}Rails{{/link-to}}
				</li>
				<li>
					{{#link-to 'sassTutorial.installation.osX'}}OS X{{/link-to}}
				</li>
			</ul>
		</nav>
		</section>
	</div>
	<div id="STS_main" class="container">
		{{outlet}}
	</div>
</div>



