<div class="STS_BG">
	<div id="STS_header">
		<h1>More SASS!</h1>
	</div>
	<div id="STS_main">
		<section>
			<article>
			<p>Want to know more? Want to master SASS? Then feel free to check out the links below:</p>
			<ul>
				<li><strong><a href="https://github.com/Deovandski/SASS_Tutorial">SASS Tutorial Source Code</a>:</strong> Source code and also code structure explanations for easier usage.</li>
				<li><strong><a href="https://github.com/web-design-weekly/simple-sass-demo">A simple SASS Demo</a>:</strong> Also avaibale on Github and much more simple than the source code used in this tutorial.</li>
				<li><strong><a href="http://sass-lang.com/guide">SASS Short and Sweet Guide</a>:</strong> A similar guide to this one, but not exactly meant to the beginners...</li>
				<li><strong><a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html">SASS Documentation</a>:</strong> All the details that you need for all the SASS and SCSS functionalities and syntax.</li>
				<li><strong><a href="http://www.sitepoint.com/an-introduction-to-sass-in-rails/">SASS and Rails</a>:</strong> An in-depth tutorial about using SASS and other gems with Rails</li>
				<li><strong><a href="http://www.thesassway.com/">The SASS Way</a>:</strong> A website full of guides for both beginners and experts which are certainly more in-depth than this one.</li>
				<li><strong><a href="https://github.com/IsUncommon/scss-styleguide">SCSS Style Guide</a>:</strong> Github repo with extensive coding conventions.</li>
			</ul>
			</article>
		</section>
	</div>
</div>



