<div id="STS_BG_index" class="STS_BG">
	<div id="STS_header">
		<h1>SASS Nesting</h1>
	</div>
	<div id="STS_main">
		<section>
			<article>
			<p>Since I started to deal with CSS, I always hated how it handles nesting since HTML does such an awesome job in dealing with it... Now SASS allows you to have this option so that you can have nested and non-nested attributes implemented in a straight forward manner like how you see below:</p>
<pre>
// TODO
</pre>
			<p>Nesting could be very useful in a wide range of cases including less classes and ids declarations like applying styles to the elements of a <b>nav</b> tag. An example is the .main class and the #ids used by each page.</p>
			<p>However, there is another SASS feature that is pretty handy: Inheritance!</p>
			{{#link-to 'sassTutorial.inheritance' class="button1"}}About{{/link-to}}
			</article>
		</section>
	</div>
</div>



