<div id="ECT_BG_index" class="ECT_BG">
	<div id="ECT_header">
		<h1>The Short and Sweet Ember Cli Tutorial!</h1>
	</div>
	<div id="ECT_main">
		<section>
			<article>
				TODO
			</article>
			<article>
				{{#link-to 'emberTutorial.installation' class="button1" }}Installing the Requirements{{/link-to}}
			</article>
		</section>
	</div>
</div>



