<div class="ECT_BG">
	<div id="ECT_header">
		<h1>Want to know more about Ember CLI and Ember.js?</h1>
	</div>
	<div id="ECT_main" class="container">
		<section>
			<p>TODO</p>
		</section>
	</div>
</div>



