<article>
<p>If you did follow my {{#link-to 'emberTutorial.installation'}}Ember Cli Tutorial{{/link-to}} down to the letter, then SASS will come packaged alongside bootstrap. If not, then make sure that you do not have any other sass-like library before installing the following libraries:</p>
<pre>
npm install --save-dev ember-cli-sass
ember install ember-cli-bootstrap-sassy
</pre>
<p>After installing the libraries, please follow the instructions available on the <a href="https://github.com/lifegadget/ember-cli-bootstrap-sassy"> ember-cli-bootstrap-sassy Github Repo.</a></p>
<p>PLease note that whenever you update Ember Cli, you also need to update those libraries as well including any other that you may have used as sometimes things can desync along the way, especially when deploying to Heroku. // TODO LINK for cache purging</p>
<p>Now onwards to testing the installation! Add the following code to see if H1 on your project will be changed:</p>
<pre>
// TODO
</pre>
{{#link-to 'sassTutorial.importsAndVariables' class="button1"}}Imports and Variables!{{/link-to}}
</article>
