<article>
<p>Koala is available to OS X, but since I do not have a Mac, I do not know how different the usage is from the Windows counterpart. You may follow the Windows Desktop tutorial while installing the Mac version and hope that is not too different, or you could try virtualization.</p>
<p>If the latter, you may follow the {{#link-to 'emberTutorial.installation'}}Ember Cli Tutorial{{/link-to}} in order to install ubuntu through Virtual Box and possibly build your own Ember.js website like this one, or install Windows 7+ to follow the Windows Tutorial.</p>

</article>
