#STS_main {
    padding: 25px;
    background-clip: content-box;
	bottom:50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 125%;
	section {
   		padding: 25px;
	}
	ul {
		display: block;
		list-style-type: none;
	}
	table {
		margin-left: auto;
		margin-right: auto;       
		tr {
			height: 250px;
			width: 250px;
			td {
				height: 250px;
				width: 250px;
			}
		}
	}
	.link_info {
		text-align: center;
	}
	.STS_logos {
		height: 150px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		#imgCSSLeft {
			height: 150px;
			float: left;
			padding-left: 20%;
		}
		#imgCSSRight {
			height: 150px;
			float: right;
			padding-right: 20%;
		}
	}
	.li_strong {
		font-weight: bold;
		font-size: $base-font-size;
		color: lighten($gray, 5%);
	}
}
