<header>
	<nav class="navbar navbar-default" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" id="collapsed-button-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">Menu</button>
				{{#link-to 'index' class="navbar-brand" id="navbar_brand"}}Deo's Website{{/link-to}}
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>{{#link-to 'archives'}}Archives Page{{/link-to}}</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ember CLI Tutorial <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>{{#link-to 'emberTutorial'}}Tutorial Page{{/link-to}}</li>
							<li role="separator" class="divider"></li>
							<li>{{#link-to 'emberTutorial.installation'}}Install, Test & Deploy{{/link-to}}</li>
							<li>{{#link-to 'emberTutorial.addons'}}Addons{{/link-to}}</li>
							<li>{{#link-to 'emberTutorial.more'}}More{{/link-to}}</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SASS Tutorial <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>{{#link-to 'sassTutorial'}}Tutorial Page{{/link-to}}</li>
							<li role="separator" class="divider"></li>
							<li>{{#link-to 'sassTutorial.installation'}}Install Requirements{{/link-to}}</li>
							<li>{{#link-to 'sassTutorial.importsAndVariables'}} Imports/Variables{{/link-to}}</li>
							<li>{{#link-to 'sassTutorial.nesting'}}Nesting{{/link-to}}</li>
							<li>{{#link-to 'sassTutorial.inheritance'}}Inheritance{{/link-to}}</li>
							<li>{{#link-to 'sassTutorial.more'}}More{{/link-to}}</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deo's Space Program <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>{{#link-to 'deoSpaceProgram'}}DSP HomePage{{/link-to}}</li>
							<li role="separator" class="divider"></li>
							<li>{{#link-to 'deoSpaceProgram.history'}}History{{/link-to}}</li>
							<li><a href="http://www.ksp-players.com/en/logbook/Deovandski/achievements" target="_blank">Achievements</a></li>
							<li>{{#link-to 'deoSpaceProgram.liftoffCalculator'}}Liftoff Calculator{{/link-to}}</li>
							<li>{{#link-to 'deoSpaceProgram.copyright'}}Copyright{{/link-to}}</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>
